@keyframes droplet {
    from {transform: translateY(-1000%)}
    to {transform: translateY(4000%)}
}

body {
    background-image: linear-gradient(#000,#026);
    height: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: "Saira Medium";
}

.fake {
    width: 40%;
    text-align: left;
}

.r {
    font-size: 50px;
}

.main_text {
    border-radius: 24px;
    outline-color: aliceblue;
    outline-width: 10px;
    outline-style: solid;
    padding: 1%;
    background-color: rgba(255,255,255,0.125);
    height: 200px;
    position: fixed;
    height: 50%;
    top: 30%;
    color: white;
    transition-duration: 200ms;
}

.progress_bar {
    text-align: left;
    background-color: white;
    position: fixed;
    left: 55%;
    top:20%;
    height: 2%;
    border-radius: 10%;
}

.m {
    background-color: white;
    height: 100px;
    text-align: right;
    position: fixed;
}

.st {
    font-size:12px;
}

.m2 {
    background-color: white;
    position: absolute;
    z-index: 67;
    left: 2%;
    height: 10%;
}

.container {
    position: absolute;
    top: 100px;
    transition-duration: 200ms;
    opacity: 1;
}

.container div {
    border: 5px solid white;
    height: 70px;
    padding: 10px;
    font-size: 15px;
    text-align: left;
}

.droplet {
    animation-name: droplet;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    position: absolute;
    background-color: #ffffff88;
    width: 0.2%;
    height: 3%
}